@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');
    h1, 
    header,
    footer {
      font-family: "Heebo", sans-serif;
      color: #E8F1F2;
      background-color: #0d1822;
      padding: 1.1rem;
      max-width: 750px;
      text-align: center;
    }
    
    body {
      font-size:19px;
      background-color:lightgray;
      font-family: "Heebo", Helvetica, sans-serif;
      margin: 0 auto;
}
header h1, 
header h2 {
  margin: 1.25rem;
}
 main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap:2em;
 }
 h4{
   margin: 0.5em 0;
   text-align: center;
 }
h3{
    font-weight: 700;
    margin:0.5em;
    color: white;
    background-color: #13293D;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.3em;
    max-width: 200px;
    text-align: center;
}
section{
  color: whitesmoke;
  border: 0.3em solid rgb(53, 33, 33);
  margin: 0.2em;
  background-color:darkgray;
  padding: 0.1em;
  height: 95%;
  max-width: 200px;
}
 footer {
font-size: 13px;
padding: 2px 20px;
}
 img {
    max-width: 100%;
    margin-top: 0.2rem;
}
 a:link {
    text-decoration:none;
    color:blue;
}
section a:hover{
  color: green;

}