@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');
  main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
 }
h1, 
    footer {
      font-family: "Heebo", sans-serif;
    }
    body {
      font-size:19px;
      background-color:lightgray;
      font-family: "Heebo", Helvetica, sans-serif;
      max-width: 800px;
      margin: 0 auto;
}
header,
footer {
color: #E8F1F2;
background-color: #0d1822;
padding-bottom: 10px;
text-align: center;
border-radius: 15px;
margin-bottom: 18px;
}
div {
   border-radius: 15px 15px 0 0;
   background-color: #13293D;
}
section{
  color: whitesmoke;
  border: 0.3em solid #13293D;
  border-radius: 15px;
  margin: 0.3em;
  background-color:darkgray;
  padding: 0.4em;
  height: 90%;
  width: 195px;
}
.comment {
     border-radius: 0 0 15px 15px;
     padding: 5px 0;
     color: #13293D;
}
 footer {
font-size: 13px;
padding: 2px;
}
img {
  max-width: 100%;
  margin-top: 0.5rem;
}
 a:link {
    text-decoration:none;
    color:whitesmoke;
}
section a:hover{
  color: green;

}