@media only screen and (min-width: 45em) {
  nav button {
    display: none;
  }
  nav ul.hide {
    display: block;
  }
  nav ul li {
    float: left;
  }
  .clearfix ul li a {
    border-right: 1px solid black;
    padding: 0.5rem 1.7rem;
  }
  .contentbox {
    max-width: 60rem;
  }
}
