@media only screen and (min-width: 80em) {
  nav button {
    display: none;
  }
  nav ul.hide {
    display: block;
  }
  nav ul li {
    float: left;
  }
  .clearfix ul li a {
    border-right: 1px solid black;
    padding: 0.5rem 3.82rem;
  }
  main h2 {
    font-size: 30px;
  }
  .contentbox {
    max-width: 60rem;
  }
  .banner {
    margin-bottom: 0;
  }
}
.gallery {
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  max-width: 800px;
}
picture img {
  width: 250px;
  height: auto;
  margin: 0.5rem;
}
figcaption {
  font-size: small;
}
.gallery picture img [data-src] {
  filter: blur(0.2em);
}
.gallery picture img {
  filter: blur(0em);
  transition: filter 0.2s;
}
