@media only screen and (min-width: 80em) {
  nav button {
    display: none;
  }
  nav ul.hide {
    display: block;
  }
  nav ul li {
    float: left;
  }
  .clearfix ul li a {
    border-right: 1px solid black;
    padding: 0.5rem 3.82rem;
  }
  main h2 {
    font-size: 30px;
  }
  .contentbox {
    max-width: 60rem;
  }
  .banner {
    margin-bottom: 0;
  }
  #gallery-main {
    max-width: 80rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
  }
  .homecards {
    max-width: 50rem;
    margin: 0 auto;
  }
  .homecards section {
    border: 1px solid gainsboro;
    background-color: gray;
    display: flex;
    flex-direction: row;
  }
  .homecards section:nth-child(3) {
    flex-direction: row-reverse;
  }
  .homecards section:nth-child(2) {
    flex-direction: row-reverse;
  }
  .homecards section:nth-child(1) {
    flex-direction: row;
  }
  .town-details {
    width: 100%;
    text-align: center;
  }
}
