@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');
    h1,
    footer {
      font-family: Cuprum, sans-serif;
      color: #E8F1F2;
      background-color: #0d1822;
      padding: 1.1rem;
      text-align: center;
    }
    
    body {
      font-size:19px;
      line-height: 1.5;
      background-color:lightgray;
}

 h1,h2, ul,footer{
    margin: 1.25rem auto;
    max-width: 720px;
 }
 main {
        display: grid;
        grid-template-columns: 1fr;
 }
 article {
     max-width: 95%;
     margin: 0 auto;
 }
 h1{
   font-size: 1.5rem;
 }
h2{
    font-size: 1rem;
    margin-top: 2em;
    border-bottom: #13293D solid 2px;
    font-family: Raleway, Helvetica, "Helvetica Neue", Arial, sans-serif;
}
 footer {
font-size: 13px;
}
article img {
    max-width: 100%;
    margin-top: 0.5rem;
}
h1 img{
    width: 200px;
    height: auto;
}
ul li {
   font-family: Cuprum, sans-serif;
}
 a:link {
    text-decoration:none;
    color:#E8F1F2;
}
a:hover{
  color: goldenrod;

}