h1 {
  text-align: center;
  background-color: burlywood;
}
picture img [data-src] {
  filter: blur(0.2em);
}
picture img {
  filter: blur(0em);
  transition: filter 0.2s;
}
picture img {
  display: block;
  margin: 1.5rem auto;
}
main {
  background-color: beige;
}
