@media only screen and (min-width: 80em) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .content-img {
    width: 100%;
    max-width: 90em;
    align-items: center;
  }
  .inner_header {
    width: 500px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #f8f8ff;
  }
  /* Navigation Section */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #010203;
    font-family: "El Messiri", sans-serif;
    text-transform: uppercase;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a:hover {
    color: #daa520;
  }
  .nav-links a.active {
    background-color: goldenrod;
  }
  .nav-links a {
    color: #f8f8ff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
  }
  .burger {
    display: none;
  }

  .burger div {
    width: 25px;
    height: 4px;
    background-color: #f8f8ff;
    margin: 5px;
  }
}
