@media only screen and (min-width: 80em) {
  .content-img {
    width: 100%;
    max-width: 90em;
    align-items: center;
  }
  .inner_header {
    width: 500px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #f8f8ff;
  }
  nav {
    display: block;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #010203;
    font-family: "El Messiri", sans-serif;
  }

  ul.nav-links {
    display: block;
    justify-content: space-around;
    text-decoration: none;
    width: 1080%;
  }
  body {
    overflow-x: visible;
  }

  .nav-links li {
    list-style: none;
  }
  .nav-links a:hover {
    background-color: #003153;
    color: #daa520;
  }
  .nav-links a.active {
    background-color: goldenrod;
    color: ghostwhite;
  }
  .burger {
    display: none;
  }
}
