@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Open+Sans+Condensed:wght@300&display=swap");
/*landing page styling*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Open + sans-serif + Condensed;
  background-color: #cdd4da;
}
.header {
  width: 50px;
  height: 120px;
  display: block;
  background-color: #003153;
}
.inner_header {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  background-color: #f8f8ff;
}

.logo_container h1 {
  color: #003153;
  height: 100%;
  text-align: center;
  font-family: "El Messiri";
  font-size: 15px;
  font-weight: 400px;
}
/* Navigation Section */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #010203;
    font-family: "El Messiri", sans-serif;
    text-transform: uppercase;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a:hover {
    color: #daa520;
  }
  .nav-links a.active {
    background-color: goldenrod;
  }

  .nav-links a {
    color: #f8f8ff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
  }
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 70.15vh;
    background-color: #010203;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 4px;
    background-color: #f8f8ff;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .homecards {
    text-align: center;
    color: #daa520;
    font-family: "El Messiri", sans-serif;
    font-size: 10px;
    font-weight: bold;
  }
  .localbiz h3 {
    text-align: center;
    color: #daa520;
    font-family: "El Messiri", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  .homecards {
    text-align: center;
    color: #daa520;
    font-family: "El Messiri", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  .localbiz {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    padding: 1.1rem;
    align-content: center;
    background-color: #003153;
    box-shadow: 0 0 15px 10px darkgrey;
  }
  .localbiz img {
    width: 40%;
    margin-bottom: 0.7rem;
    box-shadow: 0 5px 20px darkgrey;
  }
  section {
    color: #daa520;
    font-size: 10px;
    font-family: "El Messiri", sans-serif;
    text-align: center;
  }
  .article h3 {
    text-align: left;
    color: #daa520;
    font-family: "El Messiri", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  .article {
    margin: 10px auto;
    background-color: #cdd4da;
    max-width: 300px;
    padding: 1rem 1rem 0 1rem;
    border: 2px solid #003153;
    letter-spacing: 0.1px;
    text-align: justify;
  }
  .cta-section {
    background-image: url(../images/handshake.jpg);
    width: 320px;
    height: 227px;
    position: relative;
    overflow: hidden;
    padding: 70px 40px;
    margin-bottom: 100px;
    top: -5px;
    margin-left: 136px;
  }
  .col-content h2 a {
    list-style: none;
    text-decoration: none;
    font-family: "El Messiri", sans-serif;
    color: #daa520;
    margin: 0;
  }
  .col-content p {
    text-align: center;
    color: #c4dad4;
    line-height: 25px;
    font-weight: bolder;
  }
  .background-overlay {
    background: linear-gradient(to right, rgba(100, 75, 70) 100%);
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cta-content {
    z-index: 1;
    position: relative;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
}

/*Slideshow cont*/
.slideshow-cont {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.content-img {
  width: 100%;
  max-width: 39rem;
}
/*Caption text*/
.text {
  font-size: 20px;
  padding: 10px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: black;
}
/* Number text */
.numbertext {
  color: black;
  font-size: 20px;
  padding: 10px 12px;
  position: absolute;
  top: 0;
}
/* dots/bullets/indicators*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active {
  background-color: #717171;
}
/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
