@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Open+Sans+Condensed:wght@300&display=swap");
/*landing page styling*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Open + sans-serif + Condensed;
  background-color: #91a3b0;
}
.header {
  width: 100%;
  height: 120px;
  display: block;
  background-color: #003153;
}
.inner_header {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  background-color: #f8f8ff;
}

.logo_container h1 {
  color: #003153;
  height: 100%;
  text-align: center;
  font-family: "El Messiri";
  font-size: 15px;
  font-weight: 400px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #010203;
  font-family: "El Messiri", sans-serif;
}

.topnav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 80px;
}
.topnav a {
  color: #daa520;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.topnav li {
  list-style: none;
}
.topnav a:hover {
  background-color: #003153;
  color: #f8f8ff;
}
.topnav a.active {
  background-color: goldenrod;
  color: ghostwhite;
}

.mySlides {
  display: none;
}
.content-img {
  width: 100%;
  max-width: 35rem;
}
/*Slideshow cont*/
.slideshow-cont {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
/*Caption text*/
.text {
  font-size: 20px;
  padding: 10px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: black;
}
/* Number text */
.numbertext {
  color: black;
  font-size: 20px;
  padding: 10px 12px;
  position: absolute;
  top: 0;
}
/* dots/bullets/indicators*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active {
  background-color: #717171;
}
/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
