@media only screen and (min-width: 32.5em) {
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
  }
  header img {
    width: 140px;
  }
  header h1 {
    margin-top: -3rem;
    font-size: 2.5rem;
  }
  .domain img {
    width: 250px;
  }
}
